@import "tailwindcss";

@theme {
  --color-primary: #15803D;
  --color-primary-dark: #0F4C3A;
  --color-primary-light: #DCFCE7;
  --color-sidebar: #F9FAFB;
  --color-background: #FFFFFF;
  --color-card: #FFFFFF;
  --color-text-dark: #111827;
  --color-text-gray: #6B7280;
}

:root {
  font-family: 'Outfit', 'Inter', system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #F3F4F6;
  color: #111827;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.glass {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #E5E7EB;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #D1D5DB;
}
@plugin "daisyui";